
  /*.large {
  height: 20px;
  width: auto;
  background-color: tomato ;
  animation: move-in-steps 1s;
  animation-delay: 4s;
}


@keyframes move-in-steps {
  0% {
    transform: translate(0,0); 
  }

  100% {
    transform: translate(0,550px);
  }

  100% {
    transform: translate(450,0px);
    transform: height 150px;
  }

}*/

html{    width: 100%;
        height: 100%;}



#ani1 {
    font-family: 'Rubik',sans-serif;
    font-size: 90px;
    position: fixed;
    top: 250px; 
    animation:move-right 6s, fadein 2s;
    animation-fill-mode: forwards;
    right:0;
    
  }


#ani2 {
    font-family: 'League Script', cursive;
    font-size: 270px;
    top: 230px;
    margin-left: 250px;
    animation: move-right 7s, fadein 3s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    top:370px;
    right:100px;
    opacity: 0;
    position: fixed;
    
  }
   
    @keyframes move-right {
            0% {
                right: 0px;
            }
            
            100% {
                right: 230px;
            }
        }    



    @keyframes fadein {
            0% {
               opacity:  0;
            }
            
            50% {
               opacity: 1;
            }

            100% {
               opacity: 0;
            }
        }    



#ani3 {
	 font-family: 'Lobster';
	 font-size: 80px;
   font-style: italic;
   text-align: left;
   color: orange;
    padding: 0px;
    border: 0px;
    z-index: 100px;
    margin-top: -50px;
    position: relative;
    
  -webkit-animation-name: Illbethere; 
    -webkit-animation-duration: 5s; 
    animation-delay: 3s;
    animation-name: Illbethere;
    animation-duration: 4s;
    opacity: 0;
    margin-left: -50px;

}

@-webkit-keyframes Illbethere {

    0%  {left:100px; top:90px; opacity: 5;}
   
    100% {left:500px; top:90px; opacity: 0;}
}



/* Standard syntax */
@keyframes Illbethere {
    0%  {left:100px; top:130px; opacity: 5;}
   
    100% {left:500px; top:100px; opacity: 0;}

}



#ani3-1 { 
  font-family: 'Lobster';
   font-size: 100px;
   font-style: italic;
   text-align: left;
   color: orange;
    padding: 0px;
    border: 0px;
    z-index: 100px;
    margin-top: -50px;
    position: relative;
    
  -webkit-animation-name: yeah;
    -webkit-animation-duration: 3s; 
    animation-delay: 3.5s;
    animation-name: yeah;
    animation-duration: 4s;
    opacity: 0;
    margin-left: -50px;

}

@-webkit-keyframes yeah {

    0%  {left:250px; top:150px; opacity: 5;}
   
    100% {left:650px; top:120px; opacity: 0;}
}

@keyframes yeah {
    0%  {left:250px; top:150px; opacity: 5;}
   
    100% {left:650px; top:120px; opacity: 0;}

}


/*----Ill be there BACKGROUND DONT HEAR MUCH------------*/

#ani4 {
     font-family: 'Lobster';
   font-size: 120px;
   font-style: italic;
   text-align: left;
   color: mediumslateblue ;
    padding: 0px;
    border: 0px;
    z-index: 100px;
    margin-top: -50px;
    position: relative;

     -webkit-animation-name: yeahh;
    -webkit-animation-duration: 3s; 
    animation-delay: 4.5s;
    animation-name: yeahh;
    animation-duration: 3s;
    opacity: 0;
    margin-left: -50px;
}

@-webkit-keyframes yeahh {

    100%  {left:450px; top:350px; opacity: 5;}
   
   0% {left:850px; top:150px; opacity: 0;}
}



@keyframes yeahh {
    0%  {left:250px; top:350px; opacity: 5;}
   
    100% {left:650px; top:150px; opacity: 0;}

}




/*    
  -webkit-animation-name: Illbetherewe; 
    -webkit-animation-duration: 2s; 
    animation-delay: 4.5s;
    animation-name: Illbetherewe;
    animation-duration: 2s;
    opacity: 0;
    margin-left: -50px;
*/


/*@-webkit-keyframes Illbetherewe {

    0%  {left:100px; top:450px; opacity: 5;}
   
    100% {left:500px; top:450px; opacity: 0;}
}



 Standard syntax 
@keyframes Illbetherewe {
    0%  {left:500px; top:450px; opacity: 5;}
   
    100% {left:500px; top:450px; opacity: 0;}

}
*/


#ani4-1 {font-family: 'Lobster';
   font-size: 120px;
   font-style: italic;
   text-align: left;
   color: lightsteelblue;
    padding: 0px;
    border: 0px;
    z-index: 100px;
    margin-top: -50px;
    position: relative;
    
  -webkit-animation-name: yeahh;
    -webkit-animation-duration: 3s; 
    animation-delay: 5s;
    animation-name: yeahh;
    animation-duration: 3s;
    opacity: 0;
    margin-left: -50px;

}

@-webkit-keyframes yeahh {

    100%  {left:450px; top:350px; opacity: 5;}
   
   0% {left:850px; top:150px; opacity: 0;}
}



@keyframes yeahh {
    0%  {left:250px; top:350px; opacity: 5;}
   
    100% {left:650px; top:150px; opacity: 0;}

}




/*A BRAND NEW DAYYY---------------- HOBI PART-----
*/
.container1 {
            font-family: 'Bowlby One SC', cursive;
            font-size: 125px;
            color: firebrick;
            opacity: 0;
            text-align: center;
            animation: pulsate 2s, fadee 3s;
            animation-delay: 5.2s;
            animation-fill-mode: forwards;

          }


          @keyframes pulsate {

            0% {  transform: scale(1); opacity: 2; }

            100% {  transform: scale(1.4); opacity: 0; }

        }
    

 
         @-webkit-keyframes fadee {

           0%  { top:auto; opacity: 5;}
   
            100% {top:250px; opacity: 0;}

        }


	/*FONTSSSSS*/



#ani6 { /*HEAD UP */
	 font-family: 'Fjalla One', sans-serif;
   letter-spacing: 2px;
    font-size: 90px;
   text-align:center;
    padding: 0px;
    border: 0px;
    z-index: 0px;
    position: relative;
    
    -webkit-animation-name: bethere; 
    text-align: center;
    bottom: auto;
    -webkit-animation-duration: 4.7s; 
    -webkit-animation-delay:6s;
    animation-delay: 6s;

    animation-name: bethere;
    animation-duration: 4.7s;
    opacity: 0;

}
/*move*/
@keyframes bethere  {

    100% { top:0px; opacity:1;}
   
    0% { top:350px; opacity: 5;}

}

@-webkit-keyframes bethere {

    0%  { top:450px; opacity: 5;}
   
    100% {top:250px; opacity: 0;}
}




#ani7 {
	   font-family: 'Fjalla One', sans-serif;
     letter-spacing: 2px;
    font-size: 90px;
    text-align:center;
    padding: 0px;
    border: 0px;
    z-index: 0px;
    position: relative;
    
    -webkit-animation-name: bethere; 
    text-align: center;
    -webkit-animation-duration: 4.7s; 
    animation-delay: 6.1s;

    animation-name: bethere;
    animation-duration: 4.7s;
    opacity: 0;

}
/*move*/
@keyframes bethere  {

    100% { top:0px; opacity:1;}
   
    0% { top:350px; opacity: 5;}

}

@-webkit-keyframes bethere {

    0%  { top:650px; opacity: 5;}
   
    100% {top:350px; opacity: 0;}
}


  




/*BABYYYYYYYYYYYYYY*/
 
#ani9 {
    font-family: 'League Script', cursive;
	font-size: 180px;
  font-family: 'Lobster';
   font-style: italic;
   text-align: center;
   color: #ffbf00;
    padding: 0px;
    border: 0px;
    z-index: 5;
    margin-top: 0px;
    top:200px;
    left:500px;
    position: fixed;

  
    
  -webkit-animation-name: Illbetherewe; 
    -webkit-animation-duration: 5s; 
    animation-delay: 7.5s;
    animation-name: Illbetherewe;
    animation-duration: 4s;
    opacity: 0;

}

/*@-webkit-keyframes Illbetherewe {

    0%  {left:300px; top:90px; opacity: 5;}
   
    100% {left:800px; top:90px; opacity: 0;}
}
*/


/* Standard syntax */
@keyframes Illbetherewe {
    0%  {left:500px; top:200px; opacity: 5;}
   
    100% {left:800px; top:20px; opacity: 0;}

}






#ani10 { 
     font-family: 'Lobster';
   font-size: 120px;
   font-style: italic;
   text-align: right;
   color: lightskyblue;
    padding: 0px;
    border: 0px;
    z-index: 50px;
    margin-top: 10px;
    position: relative;

    
  -webkit-animation-name: Illbetheree; 
    -webkit-animation-duration: 3s; 
    animation-delay: 10s;
    animation-name: Illbetheree;
    animation-duration: 4s;
    opacity: 0;
    margin-right: -50px;

}

@-webkit-keyframes Illbetheree {

    0%  {right:100px;  opacity: 5;}
   
    100% {right:250px;  opacity: 0;}
}



/* Standard syntax */
@keyframes Illbetheree {
    0%  {right:100px; opacity: 5;}
   
    100% {right: 250px; opacity: 0;}

}


    
    


#ani11 {
    font-family: 'League Script', cursive;
   font-size: 120px;
   font-style: italic;
   text-align: left;
   color: orange;
    padding: 0px;
    border: 0px;
    z-index: 100px;
    margin-top: -50px;
   
    top:370px;
    right:100px;
    
  -webkit-animation-name: yeahh;
    -webkit-animation-duration: 3s; 
    animation-delay: 8.5s;
    animation-name: yeahh;
    animation-duration: 4s;
    opacity: 0;
    margin-right: -10px;

}

@-webkit-keyframes yeahh {

    0%  {right:450px; top:250px; opacity: 5;}
   
    100% {right:850px; top:150px; opacity: 0;}
}



@keyframes yeahh {
    0%  {right:250px; top:150px; opacity: 5;}
   
    100% {right:150px; top:150px; opacity: 0;}

}




#ani12 { 
	font-family: 'Lobster';
   font-size: 120px;
   font-style: italic;
   text-align: left;
   color: blue;
    padding: 0px;
    border: 0px;
    z-index: 100px;
    margin-top: -50px;
    position: relative;

    
  -webkit-animation-name: yeahh;
    -webkit-animation-duration: 3s; 
    animation-delay: 5s;
    animation-name: yeahh;
    animation-duration: 4s;
    opacity: 0;
    margin-left: -50px;

}

@-webkit-keyframes yeahh {

    0%  {left:450px; top:450px; opacity: 5;}
   
    100% {left:850px; top:250px; opacity: 0;}
}



@keyframes yeahh {
    0%  {left:250px; top:450px; opacity: 5;}
   
    100% {left:650px; top:450px; opacity: 0;}

}

    
    


#ani13 {
    font-family: 'Lobster';
   font-size: 80px;
   font-style: italic;
   text-align: left;
   color: orange;
    padding: 0px;
    border: 0px;
    z-index: 100px;
    margin-top: 10px;
    position: relative;
    
  -webkit-animation-name: Illbetherultimoizquierda; 
    -webkit-animation-duration: 5s; 
    animation-delay: 12s;
    animation-name: Illbetherultimoizquierda;
    animation-duration: 4s;
    opacity: 0;
    margin-left: -40px;

}

@-webkit-keyframes Illbetherultimoizquierda {

    0%  {left:100px; top:50px; opacity: 5;}
   
    100% {left:500px; top:50px; opacity: 0;}
}



/* Standard syntax */
@keyframes Illbetherultimoizquierda {
    0%  {left:100px; top:70px; opacity: 5;}
   
    100% {left:500px; top:70px; opacity: 0;}

}





#ani14 
	 {
            font-family: 'Bowlby One SC', cursive;
            font-size: 125px;
            color: firebrick;
            opacity: 0;
            text-align: center;
            animation: pulsatedos 2s, fadeedos 3s;
            animation-delay: 14s;
            animation-fill-mode: forwards;
        
            top:50px;
            right:100px;

          }


          @keyframes pulsatedos {

            0% {  transform: scale(1); opacity: 2; }

            100% {  transform: scale(1.2); opacity: 0; }

        }
    

 
         @-webkit-keyframes fadeedos {

           0%  {top:10px; opacity: 5;}
   
            100% {top:1px; opacity: 0;}

        }
    


#ani15 { 
	font-family: 'Rubik',sans-serif;
    text-align: center;
/*    font-family: 'League Script', cursive;*/
    font-size: 100px;
    top: 230px;
    margin-left: 250px;
    animation: fadeinfinal 5s;
    animation-delay: 15.5s;
    animation-fill-mode: forwards;
    top:340px;
    right:auto;
    opacity: 0;
    position: fixed;
    
  }
   



    @keyframes fadeinfinal {
            0% {
               opacity:  0;
            }
            
            50% {
               opacity: 1;
            }

            100% {
               opacity: 0;
            }
        }    

    

#ani16 { 
  font-family: 'Rubik',sans-serif;
    text-align: center;
    color: darkmagenta;
/*    font-family: 'League Script', cursive;*/
    font-size: 150px;
    top: 230px;
    margin-left: 250px;
    animation: fadeinfinal 5s;
    animation-delay: 16.4s;
    animation-fill-mode: forwards;
    top:450px;
    right:250px;
    opacity: 0;
    position: fixed;
    
  }
   



    @keyframes fadeinfinal {
            0% {
               opacity:  0;
            }
            
            50% {
               opacity: 1;
            }

            100% {
               opacity: 0;
            }
        }    

    




/* TITLE DOWN */
    #A, #Brand, #New, #Day {
          font-family: 'Unica One', cursive;
          font-size: 50px;
          margin-bottom: 200px;


    }


    #BTS {
          font-family: 'Unica One', cursive;
          font-size: 20
          px;
          margin-bottom: 200px;


    }
 
 
          

      #A {
           animation: color 2s;
          
        }
        
        #Brand {
            font-family: 'Unica One', cursive;
            font-size: 50px;
            align-content: center;
            animation: color 2s;
            animation-delay: 1s;
        }
        
        #New {
            
            animation: color 2s;
            animation-delay: 2s;
        }
        
        #Day {
            
            animation: color 2s;
            animation-delay: 3s;
        }

        #Day {
            animation: color 2s;
            animation-delay: 4s;
        }

        #bts {
            animation: color 2s;
            animation-delay: 5s;
        }


        
        
        @keyframes color {
            0% {
                color: lightseagreen,
                color: ;
                
            }
            50% {
               color: mediumslateblue ;
                
            }
            
            100% {
               color: pink ;
                
            }
        }



/* BACKGROUND*/

@keyframes bgcolor {

	30% { background-color: paleturquoise ; }
	50% {background-color: plum;} 
	30% { background-color: khaki;}
	10% { background-color: pink;}
	60% { background-color: aquamarine;}
	80% { background-color: aliceblue;}
    40% { background-color: powderblue;}


	}

body {
	animation: bgcolor 15s;
    animation-iteration-count: infinite;
}